<!DOCTYPE html>
<html lang="en" ng-app="minmax">
<head>
  <title>Controllers</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Controllers</a>
    </div>
  </div>
</nav>

<div class="container main-content" ng-controller="MinMaxCtrl">

  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
             class="form-control"
             ng-model="formModel.name"
             id="name">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"
             class="form-control"
             ng-model="formModel.email"
             id="email">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
             class="form-control"
             ng-model="formModel.password"
             id="password">
    </div>

    <div class="form-group">
      <div class="btn btn-primary"  ng-click="onSubmit()">Register</div>
    </div>
  </form>

  <pre>{{ formModel | json }}</pre>

</div>


<script src="angular/angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>
